In [3]:
import pandas as pd

In [5]:
data=pd.read_csv("C:\\Users\\vani1\\Desktop\\r\\data job posts.csv")
data.head()

,jobpost,date,Title,Company,AnnouncementCode,Term,Eligibility,Audience,StartDate,Duration,...,Salary,ApplicationP,OpeningDate,Deadline,Notes,AboutC,Attach,Year,Month,IT
0,AMERIA Investment Consulting Company\r\nJOB TI...,"Jan 5, 2004",Chief Financial Officer,AMERIA Investment Consulting Company,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"To apply for this position, please submit a\r\...",NaN,26 January 2004,NaN,NaN,NaN,2004,1,False
1,International Research & Exchanges Board (IREX...,"Jan 7, 2004",Full-time Community Connections Intern (paid i...,International Research & Exchanges Board (IREX),NaN,NaN,NaN,NaN,NaN,3 months,...,NaN,Please submit a cover letter and resume to:\r\...,NaN,12 January 2004,NaN,The International Research & Exchanges Board (...,NaN,2004,1,False
2,Caucasus Environmental NGO Network (CENN)\r\nJ...,"Jan 7, 2004",Country Coordinator,Caucasus Environmental NGO Network (CENN),NaN,NaN,NaN,NaN,NaN,Renewable annual contract\r\nPOSITION,...,NaN,Please send resume or CV toursula.kazarian@......,NaN,20 January 2004\r\nSTART DATE: February 2004,NaN,The Caucasus Environmental NGO Network is a\r\...,NaN,2004,1,False
3,Manoff Group\r\nJOB TITLE: BCC Specialist\r\n...,"Jan 7, 2004",BCC Specialist,Manoff Group,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Please send cover letter and resume to Amy\r\n...,NaN,23 January 2004\r\nSTART DATE: Immediate,NaN,NaN,NaN,2004,1,False
4,Yerevan Brandy Company\r\nJOB TITLE: Software...,"Jan 10, 2004",Software Developer,Yerevan Brandy Company,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Successful candidates should submit\r\n- CV; \...,NaN,"20 January 2004, 18:00",NaN,NaN,NaN,2004,1,True

In [6]:
data.isnull().sum()

jobpost                 0
date                    0
Title                  28
Company                 7
AnnouncementCode    17793
Term                11325
Eligibility         14071
Audience            18361
StartDate            9326
Duration             8203
Location               32
JobDescription       3892
JobRequirment        2522
RequiredQual          484
Salary               9379
ApplicationP           60
OpeningDate           706
Deadline               65
Notes               16790
AboutC               6531
Attach              17442
Year                    0
Month                   0
IT                      0
dtype: int64

In [9]:
print(data.dtypes)

jobpost             object
date                object
Title               object
Company             object
AnnouncementCode    object
Term                object
Eligibility         object
Audience            object
StartDate           object
Duration            object
Location            object
JobDescription      object
JobRequirment       object
RequiredQual        object
Salary              object
ApplicationP        object
OpeningDate         object
Deadline            object
Notes               object
AboutC              object
Attach              object
Year                 int64
Month                int64
IT                    bool
dtype: object

In [11]:
for i in data.columns[2:18]:
    data[i] = data[i].fillna(data[i].mode()[0])

In [13]:
data.isna().sum()

jobpost                 0
date                    0
Title                   0
Company                 0
AnnouncementCode        0
Term                    0
Eligibility             0
Audience                0
StartDate               0
Duration                0
Location                0
JobDescription          0
JobRequirment           0
RequiredQual            0
Salary                  0
ApplicationP            0
OpeningDate             0
Deadline                0
Notes               16790
AboutC               6531
Attach              17442
Year                    0
Month                   0
IT                      0
dtype: int64

In [15]:
data['AboutC']=data['AboutC'].fillna(data['AboutC'].mode()[0])
data.isnull().sum()

jobpost                 0
date                    0
Title                   0
Company                 0
AnnouncementCode        0
Term                    0
Eligibility             0
Audience                0
StartDate               0
Duration                0
Location                0
JobDescription          0
JobRequirment           0
RequiredQual            0
Salary                  0
ApplicationP            0
OpeningDate             0
Deadline                0
Notes               16790
AboutC                  0
Attach              17442
Year                    0
Month                   0
IT                      0
dtype: int64

In [17]:
data.drop(columns=['Notes','Attach'],inplace=True)
data

,jobpost,date,Title,Company,AnnouncementCode,Term,Eligibility,Audience,StartDate,Duration,...,JobRequirment,RequiredQual,Salary,ApplicationP,OpeningDate,Deadline,AboutC,Year,Month,IT
0,AMERIA Investment Consulting Company\r\nJOB TI...,"Jan 5, 2004",Chief Financial Officer,AMERIA Investment Consulting Company,IOS - 001,Full time,All qualified candidates,All interested candidates,ASAP,Long term,...,- Supervises financial management and administ...,"To perform this job successfully, an\r\nindivi...",Competitive,"To apply for this position, please submit a\r\...",17 July 2009,26 January 2004,Mentor Graphics Development Services CJSC is a...,2004,1,False
1,International Research & Exchanges Board (IREX...,"Jan 7, 2004",Full-time Community Connections Intern (paid i...,International Research & Exchanges Board (IREX),IOS - 001,Full time,All qualified candidates,All interested candidates,ASAP,3 months,...,- Participate in application design;\r\n- Prov...,- Bachelor's Degree; Master's is preferred;\r\...,Competitive,Please submit a cover letter and resume to:\r\...,17 July 2009,12 January 2004,The International Research & Exchanges Board (...,2004,1,False
2,Caucasus Environmental NGO Network (CENN)\r\nJ...,"Jan 7, 2004",Country Coordinator,Caucasus Environmental NGO Network (CENN),IOS - 001,Full time,All qualified candidates,All interested candidates,ASAP,Renewable annual contract\r\nPOSITION,...,- Working with the Country Director to provide...,"- Degree in environmentally related field, or ...",Competitive,Please send resume or CV toursula.kazarian@......,17 July 2009,20 January 2004\r\nSTART DATE: February 2004,The Caucasus Environmental NGO Network is a\r\...,2004,1,False
3,Manoff Group\r\nJOB TITLE: BCC Specialist\r\n...,"Jan 7, 2004",BCC Specialist,Manoff Group,IOS - 001,Full time,All qualified candidates,All interested candidates,ASAP,Long term,...,- Identify gaps in knowledge and overseeing in...,"- Advanced degree in public health, social sci...",Competitive,Please send cover letter and resume to Amy\r\n...,17 July 2009,23 January 2004\r\nSTART DATE: Immediate,Mentor Graphics Development Services CJSC is a...,2004,1,False
4,Yerevan Brandy Company\r\nJOB TITLE: Software...,"Jan 10, 2004",Software Developer,Yerevan Brandy Company,IOS - 001,Full time,All qualified candidates,All interested candidates,ASAP,Long term,...,- Rendering technical assistance to Database M...,- University degree; economical background is ...,Competitive,Successful candidates should submit\r\n- CV; \...,17 July 2009,"20 January 2004, 18:00",Mentor Graphics Development Services CJSC is a...,2004,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18996,Technolinguistics NGO\r\n\r\n\r\nTITLE: Senio...,"Dec 28, 2015",Senior Creative UX/ UI Designer,Technolinguistics NGO,IOS - 001,Full-time,All qualified candidates,All interested candidates,ASAP,Long-term,...,- Work closely with product and business teams...,- At least 5 years of experience in Interface/...,Competitive,"To apply for this position, please send your\r...",29 December 2015,28 January 2016,As a company Technolinguistics has a mandate t...,2015,12,False
18997,"""Coca-Cola Hellenic Bottling Company Armenia"" ...","Dec 30, 2015",Category Development Manager,"""Coca-Cola Hellenic Bottling Company Armenia"" ...",IOS - 001,Full-time,All interested professionals.,All interested candidates,ASAP,Long-term with a probation period of 3 months.,...,- Establish and manage Category Management dev...,"- University degree, ideally business related;...",Competitive,All interested candidates are kindly requested...,30 December 2015,20 January 2016,Mentor Graphics Development Services CJSC is a...,2015,12,False
18998,"""Coca-Cola Hellenic Bottling Company Armenia"" ...","Dec 30, 2015",Operational Marketing Manager,"""Coca-Cola Hellenic Bottling Company Armenia"" ...",IOS - 001,Full-time,All interested professionals.,All interested candidates,ASAP,Long-term with a probation period of 3 months.,...,"- Develop, establish and maintain marketing st...","- Degree in Business, Marketing or a related f...",Competitive,All interested candidates are kindly requested...,30 December 2015,20 January 2016,Mentor Graphics Development Services CJSC is a...,2015,12,False
18999,San Lazzaro LLC\r\n\r\n\r\nTITLE: Head of O...,"Dec 30, 2015",Head of Online Sales Department,San Lazzaro LLC,IOS - 001,Full time,All qualified candidates,All interested candidates,ASAP,Long-term,...,- Handle the project activites of the online s...,- At least 1 year of experience in online sale...,Highly competitive,Interested candidates can send their CVs to:\r...,30 December 2015,29 January 2016,San Lazzaro LLC works with several internation...,2015,12,False
19000,"""Kamurj"" UCO CJSC\r\n\r\n\r\nTITLE: Lawyer in...","Dec 30, 2015",Lawyer in Legal Department,"""Kamurj"" UCO CJSC",IOS - 001,Full-time,All qualified candidates,All interested candidates,ASAP,Indefinite,...,- Properly provide internal legal services of ...,- Higher legal education; Master's degree is a...,Competitive,All qualified applicants are encouraged to\r\n...,30 December 2015,20 January 2016,"""Kamurj"" UCO CJSC is providing micro and small...",2015,12,False

In [17]:
data.isna().sum()

jobpost             0
date                0
Title               0
Company             0
AnnouncementCode    0
Term                0
Eligibility         0
Audience            0
StartDate           0
Duration            0
Location            0
JobDescription      0
JobRequirment       0
RequiredQual        0
Salary              0
ApplicationP        0
OpeningDate         0
Deadline            0
AboutC              0
Year                0
Month               0
IT                  0
dtype: int64

# String Operations

## clean JobDescription and JobRequirement

In [19]:
import re

def clean_text(text):
    text = re.sub(r'<.*?>', '', text)
    text = re.sub(r'[^A-Za-z0-9\s]', '', text)
    text = re.sub(r'\s+', ' ', text).strip()
    return text

data['JobDescription'] = data['JobDescription'].apply(clean_text)
data['JobRequirment'] = data['JobRequirment'].apply(clean_text)

In [21]:
data

,jobpost,date,Title,Company,AnnouncementCode,Term,Eligibility,Audience,StartDate,Duration,...,JobRequirment,RequiredQual,Salary,ApplicationP,OpeningDate,Deadline,AboutC,Year,Month,IT
0,AMERIA Investment Consulting Company\r\nJOB TI...,"Jan 5, 2004",Chief Financial Officer,AMERIA Investment Consulting Company,IOS - 001,Full time,All qualified candidates,All interested candidates,ASAP,Long term,...,Supervises financial management and administra...,"To perform this job successfully, an\r\nindivi...",Competitive,"To apply for this position, please submit a\r\...",17 July 2009,26 January 2004,Mentor Graphics Development Services CJSC is a...,2004,1,False
1,International Research & Exchanges Board (IREX...,"Jan 7, 2004",Full-time Community Connections Intern (paid i...,International Research & Exchanges Board (IREX),IOS - 001,Full time,All qualified candidates,All interested candidates,ASAP,3 months,...,Participate in application design Provide nece...,- Bachelor's Degree; Master's is preferred;\r\...,Competitive,Please submit a cover letter and resume to:\r\...,17 July 2009,12 January 2004,The International Research & Exchanges Board (...,2004,1,False
2,Caucasus Environmental NGO Network (CENN)\r\nJ...,"Jan 7, 2004",Country Coordinator,Caucasus Environmental NGO Network (CENN),IOS - 001,Full time,All qualified candidates,All interested candidates,ASAP,Renewable annual contract\r\nPOSITION,...,Working with the Country Director to provide e...,"- Degree in environmentally related field, or ...",Competitive,Please send resume or CV toursula.kazarian@......,17 July 2009,20 January 2004\r\nSTART DATE: February 2004,The Caucasus Environmental NGO Network is a\r\...,2004,1,False
3,Manoff Group\r\nJOB TITLE: BCC Specialist\r\n...,"Jan 7, 2004",BCC Specialist,Manoff Group,IOS - 001,Full time,All qualified candidates,All interested candidates,ASAP,Long term,...,Identify gaps in knowledge and overseeing info...,"- Advanced degree in public health, social sci...",Competitive,Please send cover letter and resume to Amy\r\n...,17 July 2009,23 January 2004\r\nSTART DATE: Immediate,Mentor Graphics Development Services CJSC is a...,2004,1,False
4,Yerevan Brandy Company\r\nJOB TITLE: Software...,"Jan 10, 2004",Software Developer,Yerevan Brandy Company,IOS - 001,Full time,All qualified candidates,All interested candidates,ASAP,Long term,...,Rendering technical assistance to Database Man...,- University degree; economical background is ...,Competitive,Successful candidates should submit\r\n- CV; \...,17 July 2009,"20 January 2004, 18:00",Mentor Graphics Development Services CJSC is a...,2004,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18996,Technolinguistics NGO\r\n\r\n\r\nTITLE: Senio...,"Dec 28, 2015",Senior Creative UX/ UI Designer,Technolinguistics NGO,IOS - 001,Full-time,All qualified candidates,All interested candidates,ASAP,Long-term,...,Work closely with product and business teams t...,- At least 5 years of experience in Interface/...,Competitive,"To apply for this position, please send your\r...",29 December 2015,28 January 2016,As a company Technolinguistics has a mandate t...,2015,12,False
18997,"""Coca-Cola Hellenic Bottling Company Armenia"" ...","Dec 30, 2015",Category Development Manager,"""Coca-Cola Hellenic Bottling Company Armenia"" ...",IOS - 001,Full-time,All interested professionals.,All interested candidates,ASAP,Long-term with a probation period of 3 months.,...,Establish and manage Category Management devel...,"- University degree, ideally business related;...",Competitive,All interested candidates are kindly requested...,30 December 2015,20 January 2016,Mentor Graphics Development Services CJSC is a...,2015,12,False
18998,"""Coca-Cola Hellenic Bottling Company Armenia"" ...","Dec 30, 2015",Operational Marketing Manager,"""Coca-Cola Hellenic Bottling Company Armenia"" ...",IOS - 001,Full-time,All interested professionals.,All interested candidates,ASAP,Long-term with a probation period of 3 months.,...,Develop establish and maintain marketing strat...,"- Degree in Business, Marketing or a related f...",Competitive,All interested candidates are kindly requested...,30 December 2015,20 January 2016,Mentor Graphics Development Services CJSC is a...,2015,12,False
18999,San Lazzaro LLC\r\n\r\n\r\nTITLE: Head of O...,"Dec 30, 2015",Head of Online Sales Department,San Lazzaro LLC,IOS - 001,Full time,All qualified candidates,All interested candidates,ASAP,Long-term,...,Handle the project activites of the online sto...,- At least 1 year of experience in online sale...,Highly competitive,Interested candidates can send their CVs to:\r...,30 December 2015,29 January 2016,San Lazzaro LLC works with several internation...,2015,12,False
19000,"""Kamurj"" UCO CJSC\r\n\r\n\r\nTITLE: Lawyer in...","Dec 30, 2015",Lawyer in Legal Department,"""Kamurj"" UCO CJSC",IOS - 001,Full-time,All qualified candidates,All interested candidates,ASAP,Indefinite,...,Properly provide internal legal services of th...,- Higher legal education; Master's degree is a...,Competitive,All qualified applicants are encouraged to\r\n...,30 December 2015,20 January 2016,"""Kamurj"" UCO CJSC is providing micro and small...",2015,12,False

In [23]:
data['JobDescription'] = data['JobDescription'].apply(lambda x: ' '.join(x.lower().split()))
data['JobRequirment'] = data['JobRequirment'].apply(lambda x: ' '.join(x.lower().split()))

In [25]:
data['JobRequirment']

0        supervises financial management and administra...
1        participate in application design provide nece...
2        working with the country director to provide e...
3        identify gaps in knowledge and overseeing info...
4        rendering technical assistance to database man...
                               ...
18996    work closely with product and business teams t...
18997    establish and manage category management devel...
18998    develop establish and maintain marketing strat...
18999    handle the project activites of the online sto...
19000    properly provide internal legal services of th...
Name: JobRequirment, Length: 19001, dtype: object

In [27]:
data['JobDescription']

0        ameria investment consulting company is seekin...
1        the incumbent will work under the direct super...
2        public outreach and strengthening of a growing...
3        the lead local enhancement and development for...
4        the incumbent will work under the direct super...
                               ...
18996    a tech startup of technolinguistics based in n...
18997    the incumbent will work under the direct super...
18998    the incumbent will work under the direct super...
18999    san lazzaro llc is looking for a wellexperienc...
19000    kamurj uco cjsc is looking for a lawyer in leg...
Name: JobDescription, Length: 19001, dtype: object

In [29]:
key_skills=['python', 'java', 'sql', 'html', 'css']
filtered_data = data[data['JobRequirment'].str.contains('|'.join(key_skills),case=False,na=False)]
print(filtered_data['JobRequirment'].reset_index())

     index                                      JobRequirment
0        4  rendering technical assistance to database man...
1       15  network monitoring and administration database...
2      252               development of java web applications
3      363  the following training courses must be given w...
4      383  deploy develop and maintain the websites for m...
..     ...                                                ...
423  18852  contribute to the current native mobile apps w...
424  18956  responsible for php mysql programming responsi...
425  18965  write a well designed testable efficient code ...
426  18968  write a well designed testable efficient code ...
427  18973  responsible for developing and building high q...

[428 rows x 2 columns]

In [31]:
data['JobDescription'] = data['JobDescription'].apply(lambda x: x.replace('Software Eng', 'Software Engineer'))
data['JobDescription']

0        ameria investment consulting company is seekin...
1        the incumbent will work under the direct super...
2        public outreach and strengthening of a growing...
3        the lead local enhancement and development for...
4        the incumbent will work under the direct super...
                               ...
18996    a tech startup of technolinguistics based in n...
18997    the incumbent will work under the direct super...
18998    the incumbent will work under the direct super...
18999    san lazzaro llc is looking for a wellexperienc...
19000    kamurj uco cjsc is looking for a lawyer in leg...
Name: JobDescription, Length: 19001, dtype: object

In [33]:
data['JobDescription']=data['JobDescription'].apply(lambda x: x.replace('ft','full-time').replace('full time','full-time'))
data['JobRequirment']=data['JobRequirment'].apply(lambda x: x.replace('ft','full-time').replace('full time','full-time'))

In [35]:
data[['JobDescription','JobRequirment']]

,JobDescription,JobRequirment
0,ameria investment consulting company is seekin...,supervises financial management and administra...
1,the incumbent will work under the direct super...,participate in application design provide nece...
2,public outreach and strengthening of a growing...,working with the country director to provide e...
3,the lead local enhancement and development for...,identify gaps in knowledge and overseeing info...
4,the incumbent will work under the direct super...,rendering technical assistance to database man...
...,...,...
18996,a tech startup of technolinguistics based in n...,work closely with product and business teams t...
18997,the incumbent will work under the direct super...,establish and manage category management devel...
18998,the incumbent will work under the direct super...,develop establish and maintain marketing strat...
18999,san lazzaro llc is looking for a wellexperienc...,handle the project activites of the online sto...
19000,kamurj uco cjsc is looking for a lawyer in leg...,properly provide internal legal services of th...

# Date Operations

In [39]:
data['StartDate'] = pd.to_datetime(data['StartDate'],errors='coerce')
data['OpeningDate'] = pd.to_datetime(data['OpeningDate'],errors='coerce')
data['Deadline'] = pd.to_datetime(data['Deadline'],errors='coerce')

In [41]:
a=(data['Deadline']-data['OpeningDate']).dt.days.abs()
a

0        1999.0
1        2013.0
2           NaN
3           NaN
4           NaN
          ...
18996      30.0
18997      21.0
18998      21.0
18999      30.0
19000      21.0
Length: 19001, dtype: float64

In [43]:
data['StartDate']

0       NaT
1       NaT
2       NaT
3       NaT
4       NaT
         ..
18996   NaT
18997   NaT
18998   NaT
18999   NaT
19000   NaT
Name: StartDate, Length: 19001, dtype: datetime64[ns]

In [45]:
b=(data['StartDate']-data['OpeningDate']).dt.days.abs()
b

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
18996   NaN
18997   NaN
18998   NaN
18999   NaN
19000   NaN
Length: 19001, dtype: float64

In [47]:
data[['StartDate','OpeningDate']]

      StartDate OpeningDate
0           NaT  2009-07-17
1           NaT  2009-07-17
2           NaT  2009-07-17
3           NaT  2009-07-17
4           NaT  2009-07-17
...         ...         ...
18996       NaT  2015-12-29
18997       NaT  2015-12-30
18998       NaT  2015-12-30
18999       NaT  2015-12-30
19000       NaT  2015-12-30

[19001 rows x 2 columns]

In [49]:
StartYear = data['StartDate'].dt.year
StartMonth = data['StartDate'].dt.month

OpeningYear = data['OpeningDate'].dt.year
OpeningMonth= data['OpeningDate'].dt.month

DeadlineYear= data['Deadline'].dt.year
DeadlineMonth = data['Deadline'].dt.month

print(StartYear,StartMonth,OpeningYear,OpeningMonth,DeadlineYear,DeadlineMonth)

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
18996   NaN
18997   NaN
18998   NaN
18999   NaN
19000   NaN
Name: StartDate, Length: 19001, dtype: float64 0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
18996   NaN
18997   NaN
18998   NaN
18999   NaN
19000   NaN
Name: StartDate, Length: 19001, dtype: float64 0        2009.0
1        2009.0
2        2009.0
3        2009.0
4        2009.0
          ...
18996    2015.0
18997    2015.0
18998    2015.0
18999    2015.0
19000    2015.0
Name: OpeningDate, Length: 19001, dtype: float64 0         7.0
1         7.0
2         7.0
3         7.0
4         7.0
         ...
18996    12.0
18997    12.0
18998    12.0
18999    12.0
19000    12.0
Name: OpeningDate, Length: 19001, dtype: float64 0        2004.0
1        2004.0
2           NaN
3           NaN
4           NaN
          ...
18996    2016.0
18997    2016.0
18998    2016.0
18999    2016.0
19000    2016.0
Name: Deadline, Length: 19001, dtype: float64 0        1.0
1        1.0
2        NaN
3        NaN
4        NaN
        ...
18996    1.0
18997    1.0
18998    1.0
18999    1.0
19000    1.0
Name: Deadline, Length: 19001, dtype: float64

# splitting and extracting

In [51]:
data['Location']

0                                         Yerevan, Armenia
1        IREX Armenia Main Office; Yerevan, Armenia \r\...
2                                         Yerevan, Armenia
3                                      Manila, Philippines
4                                         Yerevan, Armenia
                               ...
18996                                     Yerevan, Armenia
18997                                     Yerevan, Armenia
18998                                     Yerevan, Armenia
18999                                     Yerevan, Armenia
19000                                     Yerevan, Armenia
Name: Location, Length: 19001, dtype: object

In [53]:
data = data.dropna(subset=['Location'])
data[['City', 'Country']] = data['Location'].str.split(',', expand=True,n=1)
data

,jobpost,date,Title,Company,AnnouncementCode,Term,Eligibility,Audience,StartDate,Duration,...,Salary,ApplicationP,OpeningDate,Deadline,AboutC,Year,Month,IT,City,Country
0,AMERIA Investment Consulting Company\r\nJOB TI...,"Jan 5, 2004",Chief Financial Officer,AMERIA Investment Consulting Company,IOS - 001,Full time,All qualified candidates,All interested candidates,NaT,Long term,...,Competitive,"To apply for this position, please submit a\r\...",2009-07-17,2004-01-26,Mentor Graphics Development Services CJSC is a...,2004,1,False,Yerevan,Armenia
1,International Research & Exchanges Board (IREX...,"Jan 7, 2004",Full-time Community Connections Intern (paid i...,International Research & Exchanges Board (IREX),IOS - 001,Full time,All qualified candidates,All interested candidates,NaT,3 months,...,Competitive,Please submit a cover letter and resume to:\r\...,2009-07-17,2004-01-12,The International Research & Exchanges Board (...,2004,1,False,IREX Armenia Main Office; Yerevan,Armenia \r\nDESCRIPTION: IREX currently see...
2,Caucasus Environmental NGO Network (CENN)\r\nJ...,"Jan 7, 2004",Country Coordinator,Caucasus Environmental NGO Network (CENN),IOS - 001,Full time,All qualified candidates,All interested candidates,NaT,Renewable annual contract\r\nPOSITION,...,Competitive,Please send resume or CV toursula.kazarian@......,2009-07-17,NaT,The Caucasus Environmental NGO Network is a\r\...,2004,1,False,Yerevan,Armenia
3,Manoff Group\r\nJOB TITLE: BCC Specialist\r\n...,"Jan 7, 2004",BCC Specialist,Manoff Group,IOS - 001,Full time,All qualified candidates,All interested candidates,NaT,Long term,...,Competitive,Please send cover letter and resume to Amy\r\n...,2009-07-17,NaT,Mentor Graphics Development Services CJSC is a...,2004,1,False,Manila,Philippines
4,Yerevan Brandy Company\r\nJOB TITLE: Software...,"Jan 10, 2004",Software Developer,Yerevan Brandy Company,IOS - 001,Full time,All qualified candidates,All interested candidates,NaT,Long term,...,Competitive,Successful candidates should submit\r\n- CV; \...,2009-07-17,NaT,Mentor Graphics Development Services CJSC is a...,2004,1,True,Yerevan,Armenia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18996,Technolinguistics NGO\r\n\r\n\r\nTITLE: Senio...,"Dec 28, 2015",Senior Creative UX/ UI Designer,Technolinguistics NGO,IOS - 001,Full-time,All qualified candidates,All interested candidates,NaT,Long-term,...,Competitive,"To apply for this position, please send your\r...",2015-12-29,2016-01-28,As a company Technolinguistics has a mandate t...,2015,12,False,Yerevan,Armenia
18997,"""Coca-Cola Hellenic Bottling Company Armenia"" ...","Dec 30, 2015",Category Development Manager,"""Coca-Cola Hellenic Bottling Company Armenia"" ...",IOS - 001,Full-time,All interested professionals.,All interested candidates,NaT,Long-term with a probation period of 3 months.,...,Competitive,All interested candidates are kindly requested...,2015-12-30,2016-01-20,Mentor Graphics Development Services CJSC is a...,2015,12,False,Yerevan,Armenia
18998,"""Coca-Cola Hellenic Bottling Company Armenia"" ...","Dec 30, 2015",Operational Marketing Manager,"""Coca-Cola Hellenic Bottling Company Armenia"" ...",IOS - 001,Full-time,All interested professionals.,All interested candidates,NaT,Long-term with a probation period of 3 months.,...,Competitive,All interested candidates are kindly requested...,2015-12-30,2016-01-20,Mentor Graphics Development Services CJSC is a...,2015,12,False,Yerevan,Armenia
18999,San Lazzaro LLC\r\n\r\n\r\nTITLE: Head of O...,"Dec 30, 2015",Head of Online Sales Department,San Lazzaro LLC,IOS - 001,Full time,All qualified candidates,All interested candidates,NaT,Long-term,...,Highly competitive,Interested candidates can send their CVs to:\r...,2015-12-30,2016-01-29,San Lazzaro LLC works with several internation...,2015,12,False,Yerevan,Armenia
19000,"""Kamurj"" UCO CJSC\r\n\r\n\r\nTITLE: Lawyer in...","Dec 30, 2015",Lawyer in Legal Department,"""Kamurj"" UCO CJSC",IOS - 001,Full-time,All qualified candidates,All interested candidates,NaT,Indefinite,...,Competitive,All qualified applicants are encouraged to\r\n...,2015-12-30,2016-01-20,"""Kamurj"" UCO CJSC is providing micro and small...",2015,12,False,Yerevan,Armenia

In [57]:
from sklearn.preprocessing import LabelEncoder
data1 = {'Salary': ['Competitive', 'Salary is dependent on education, experience, and\r\ncapabilities, and will be discussed on a case-by-case basis.', 'Negotiable', '800,000 AMD - 1,000,000 AMD (Gross) plus bonuses.', 'Highly competitive plus a social package and\r\nopportunity for training abroad.','Based on the companys remuneration scheme.'],
        'Test Score': [50000, 52000, 54000, 56000, 58000,60000]}
df = pd.DataFrame(data1)
encoder = LabelEncoder()
df['Salary_range'] = encoder.fit_transform(df['Salary'])
df

                                              Salary  Test Score  Salary_range
0                                        Competitive       50000             2
1  Salary is dependent on education, experience, ...       52000             5
2                                         Negotiable       54000             4
3  800,000 AMD - 1,000,000 AMD (Gross) plus bonuses.       56000             0
4  Highly competitive plus a social package and\r...       58000             3
5         Based on the companys remuneration scheme.       60000             1

In [55]:
import re

def extract_salary_range(salary_str):
    pattern = r'(\d+)(k?)-(\d+)(k?)\s*(\w+)?'
    match = re.search(pattern, salary_str)
    if match:
        min_salary = int(match.group(1)) * 1000 if match.group(2) == 'k' else int(match.group(1))
        max_salary = int(match.group(3)) * 1000 if match.group(4) == 'k' else int(match.group(3))
        return min_salary, max_salary
    else:
        return None, None
        
data[['min_salary', 'max_salary']] = data['Salary'].apply(lambda x: pd.Series(extract_salary_range(str(x))))

data[['Salary', 'min_salary', 'max_salary']]

                   Salary  min_salary  max_salary
0             Competitive         NaN         NaN
1             Competitive         NaN         NaN
2             Competitive         NaN         NaN
3             Competitive         NaN         NaN
4             Competitive         NaN         NaN
...                   ...         ...         ...
18996         Competitive         NaN         NaN
18997         Competitive         NaN         NaN
18998         Competitive         NaN         NaN
18999  Highly competitive         NaN         NaN
19000         Competitive         NaN         NaN

[19001 rows x 3 columns]

# Filtering and Categorization

In [59]:
it_jobs=data[data['IT'] == True][['jobpost','Title','Company','IT']].reset_index(drop=True)
it_jobs

,jobpost,Title,Company,IT
0,Yerevan Brandy Company\r\nJOB TITLE: Software...,Software Developer,Yerevan Brandy Company,True
1,NetCall Communications\r\nJOB TITLE: Network ...,Network Administrator,NetCall Communications,True
2,Xalt LLC\r\nJOB TITLE: Graphic Designer\r\nPO...,Graphic Designer,Xalt LLC,True
3,Caucasus Research Resource Center - Armenia\r\...,Demographic Analysis Workshop,Caucasus Research Resource Center - Armenia,True
4,CIT Ltd.\r\nJOB TITLE: Programmer\r\nPOSITION...,Programmer,CIT Ltd.,True
...,...,...,...,...
3754,PicsArt LLC\r\n\r\n\r\nTITLE: Junior Mobile V...,Junior Mobile Visual UI/ UX Designer,PicsArt LLC,True
3755,Berg Development LLC\r\n\r\n\r\nTITLE: JavaSc...,JavaScript Professional,Berg Development LLC,True
3756,NASDAQ OMX Armenia OJSC\r\n\r\n\r\nTITLE: Jav...,Java Developer,NASDAQ OMX Armenia OJSC,True
3757,NASDAQ OMX Armenia OJSC\r\n\r\n\r\nTITLE: C/ ...,C/ C++ Developer,NASDAQ OMX Armenia OJSC,True
3758,Macadamian AR CJSC\r\n\r\n\r\nTITLE: .NET Dev...,.NET Developer,Macadamian AR CJSC,True

In [61]:
data

,jobpost,date,Title,Company,AnnouncementCode,Term,Eligibility,Audience,StartDate,Duration,...,OpeningDate,Deadline,AboutC,Year,Month,IT,City,Country,min_salary,max_salary
0,AMERIA Investment Consulting Company\r\nJOB TI...,"Jan 5, 2004",Chief Financial Officer,AMERIA Investment Consulting Company,IOS - 001,Full time,All qualified candidates,All interested candidates,NaT,Long term,...,2009-07-17,2004-01-26,Mentor Graphics Development Services CJSC is a...,2004,1,False,Yerevan,Armenia,NaN,NaN
1,International Research & Exchanges Board (IREX...,"Jan 7, 2004",Full-time Community Connections Intern (paid i...,International Research & Exchanges Board (IREX),IOS - 001,Full time,All qualified candidates,All interested candidates,NaT,3 months,...,2009-07-17,2004-01-12,The International Research & Exchanges Board (...,2004,1,False,IREX Armenia Main Office; Yerevan,Armenia \r\nDESCRIPTION: IREX currently see...,NaN,NaN
2,Caucasus Environmental NGO Network (CENN)\r\nJ...,"Jan 7, 2004",Country Coordinator,Caucasus Environmental NGO Network (CENN),IOS - 001,Full time,All qualified candidates,All interested candidates,NaT,Renewable annual contract\r\nPOSITION,...,2009-07-17,NaT,The Caucasus Environmental NGO Network is a\r\...,2004,1,False,Yerevan,Armenia,NaN,NaN
3,Manoff Group\r\nJOB TITLE: BCC Specialist\r\n...,"Jan 7, 2004",BCC Specialist,Manoff Group,IOS - 001,Full time,All qualified candidates,All interested candidates,NaT,Long term,...,2009-07-17,NaT,Mentor Graphics Development Services CJSC is a...,2004,1,False,Manila,Philippines,NaN,NaN
4,Yerevan Brandy Company\r\nJOB TITLE: Software...,"Jan 10, 2004",Software Developer,Yerevan Brandy Company,IOS - 001,Full time,All qualified candidates,All interested candidates,NaT,Long term,...,2009-07-17,NaT,Mentor Graphics Development Services CJSC is a...,2004,1,True,Yerevan,Armenia,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18996,Technolinguistics NGO\r\n\r\n\r\nTITLE: Senio...,"Dec 28, 2015",Senior Creative UX/ UI Designer,Technolinguistics NGO,IOS - 001,Full-time,All qualified candidates,All interested candidates,NaT,Long-term,...,2015-12-29,2016-01-28,As a company Technolinguistics has a mandate t...,2015,12,False,Yerevan,Armenia,NaN,NaN
18997,"""Coca-Cola Hellenic Bottling Company Armenia"" ...","Dec 30, 2015",Category Development Manager,"""Coca-Cola Hellenic Bottling Company Armenia"" ...",IOS - 001,Full-time,All interested professionals.,All interested candidates,NaT,Long-term with a probation period of 3 months.,...,2015-12-30,2016-01-20,Mentor Graphics Development Services CJSC is a...,2015,12,False,Yerevan,Armenia,NaN,NaN
18998,"""Coca-Cola Hellenic Bottling Company Armenia"" ...","Dec 30, 2015",Operational Marketing Manager,"""Coca-Cola Hellenic Bottling Company Armenia"" ...",IOS - 001,Full-time,All interested professionals.,All interested candidates,NaT,Long-term with a probation period of 3 months.,...,2015-12-30,2016-01-20,Mentor Graphics Development Services CJSC is a...,2015,12,False,Yerevan,Armenia,NaN,NaN
18999,San Lazzaro LLC\r\n\r\n\r\nTITLE: Head of O...,"Dec 30, 2015",Head of Online Sales Department,San Lazzaro LLC,IOS - 001,Full time,All qualified candidates,All interested candidates,NaT,Long-term,...,2015-12-30,2016-01-29,San Lazzaro LLC works with several internation...,2015,12,False,Yerevan,Armenia,NaN,NaN
19000,"""Kamurj"" UCO CJSC\r\n\r\n\r\nTITLE: Lawyer in...","Dec 30, 2015",Lawyer in Legal Department,"""Kamurj"" UCO CJSC",IOS - 001,Full-time,All qualified candidates,All interested candidates,NaT,Indefinite,...,2015-12-30,2016-01-20,"""Kamurj"" UCO CJSC is providing micro and small...",2015,12,False,Yerevan,Armenia,NaN,NaN

In [63]:
def categorize_education(eligibility):
    eligibility = str(eligibility).lower()
    
    if 'bachelor' in eligibility or 'undergraduate' in eligibility:
        return 'Bachelor\'s Degree'
    elif 'master' in eligibility or 'graduate' in eligibility:
        return 'Master\'s Degree'
    elif 'phd' in eligibility or 'doctorate' in eligibility:
        return 'PhD'
    elif 'high school' in eligibility or 'secondary' in eligibility:
        return 'High School'
    elif 'associate' in eligibility:
        return 'Associate Degree'
    else:
        return 'Not specified'

def categorize_experience(eligibility):
    eligibility = str(eligibility).lower()
    
    if 'fresher' in eligibility or 'entry level' in eligibility:
        return '0-1 years'
    elif '1-2 years' in eligibility or '1 year' in eligibility:
        return '1-2 years'
    elif '2-5 years' in eligibility or '3-5 years' in eligibility:
        return '2-5 years'
    elif '5-10 years' in eligibility:
        return '5-10 years'
    elif '10+ years' in eligibility:
        return '10+ years'
    else:
        return 'Not specified'
        
def categorize_audience(audience):
    audience = str(audience).lower()
    
    if 'all interested' in audience or 'all candidates' in audience:
        return 'Open to all'
    elif 'qualified candidates' in audience or 'professionals' in audience:
        return 'Qualified professionals'
    elif 'specific professionals' in audience:
        return 'Specific professionals'
    else:
        return 'Not specified'

data['Education_Level'] = data['Eligibility'].apply(categorize_education)
data['Experience_Range'] = data['Eligibility'].apply(categorize_experience)
data['Audience_Category'] = data['Audience'].apply(categorize_audience)

data[['Eligibility', 'Education_Level', 'Experience_Range', 'Audience', 'Audience_Category']]

,Eligibility,Education_Level,Experience_Range,Audience,Audience_Category
0,All qualified candidates,Not specified,Not specified,All interested candidates,Open to all
1,All qualified candidates,Not specified,Not specified,All interested candidates,Open to all
2,All qualified candidates,Not specified,Not specified,All interested candidates,Open to all
3,All qualified candidates,Not specified,Not specified,All interested candidates,Open to all
4,All qualified candidates,Not specified,Not specified,All interested candidates,Open to all
...,...,...,...,...,...
18996,All qualified candidates,Not specified,Not specified,All interested candidates,Open to all
18997,All interested professionals.,Not specified,Not specified,All interested candidates,Open to all
18998,All interested professionals.,Not specified,Not specified,All interested candidates,Open to all
18999,All qualified candidates,Not specified,Not specified,All interested candidates,Open to all
19000,All qualified candidates,Not specified,Not specified,All interested candidates,Open to all

In [65]:
data

,jobpost,date,Title,Company,AnnouncementCode,Term,Eligibility,Audience,StartDate,Duration,...,Year,Month,IT,City,Country,min_salary,max_salary,Education_Level,Experience_Range,Audience_Category
0,AMERIA Investment Consulting Company\r\nJOB TI...,"Jan 5, 2004",Chief Financial Officer,AMERIA Investment Consulting Company,IOS - 001,Full time,All qualified candidates,All interested candidates,NaT,Long term,...,2004,1,False,Yerevan,Armenia,NaN,NaN,Not specified,Not specified,Open to all
1,International Research & Exchanges Board (IREX...,"Jan 7, 2004",Full-time Community Connections Intern (paid i...,International Research & Exchanges Board (IREX),IOS - 001,Full time,All qualified candidates,All interested candidates,NaT,3 months,...,2004,1,False,IREX Armenia Main Office; Yerevan,Armenia \r\nDESCRIPTION: IREX currently see...,NaN,NaN,Not specified,Not specified,Open to all
2,Caucasus Environmental NGO Network (CENN)\r\nJ...,"Jan 7, 2004",Country Coordinator,Caucasus Environmental NGO Network (CENN),IOS - 001,Full time,All qualified candidates,All interested candidates,NaT,Renewable annual contract\r\nPOSITION,...,2004,1,False,Yerevan,Armenia,NaN,NaN,Not specified,Not specified,Open to all
3,Manoff Group\r\nJOB TITLE: BCC Specialist\r\n...,"Jan 7, 2004",BCC Specialist,Manoff Group,IOS - 001,Full time,All qualified candidates,All interested candidates,NaT,Long term,...,2004,1,False,Manila,Philippines,NaN,NaN,Not specified,Not specified,Open to all
4,Yerevan Brandy Company\r\nJOB TITLE: Software...,"Jan 10, 2004",Software Developer,Yerevan Brandy Company,IOS - 001,Full time,All qualified candidates,All interested candidates,NaT,Long term,...,2004,1,True,Yerevan,Armenia,NaN,NaN,Not specified,Not specified,Open to all
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18996,Technolinguistics NGO\r\n\r\n\r\nTITLE: Senio...,"Dec 28, 2015",Senior Creative UX/ UI Designer,Technolinguistics NGO,IOS - 001,Full-time,All qualified candidates,All interested candidates,NaT,Long-term,...,2015,12,False,Yerevan,Armenia,NaN,NaN,Not specified,Not specified,Open to all
18997,"""Coca-Cola Hellenic Bottling Company Armenia"" ...","Dec 30, 2015",Category Development Manager,"""Coca-Cola Hellenic Bottling Company Armenia"" ...",IOS - 001,Full-time,All interested professionals.,All interested candidates,NaT,Long-term with a probation period of 3 months.,...,2015,12,False,Yerevan,Armenia,NaN,NaN,Not specified,Not specified,Open to all
18998,"""Coca-Cola Hellenic Bottling Company Armenia"" ...","Dec 30, 2015",Operational Marketing Manager,"""Coca-Cola Hellenic Bottling Company Armenia"" ...",IOS - 001,Full-time,All interested professionals.,All interested candidates,NaT,Long-term with a probation period of 3 months.,...,2015,12,False,Yerevan,Armenia,NaN,NaN,Not specified,Not specified,Open to all
18999,San Lazzaro LLC\r\n\r\n\r\nTITLE: Head of O...,"Dec 30, 2015",Head of Online Sales Department,San Lazzaro LLC,IOS - 001,Full time,All qualified candidates,All interested candidates,NaT,Long-term,...,2015,12,False,Yerevan,Armenia,NaN,NaN,Not specified,Not specified,Open to all
19000,"""Kamurj"" UCO CJSC\r\n\r\n\r\nTITLE: Lawyer in...","Dec 30, 2015",Lawyer in Legal Department,"""Kamurj"" UCO CJSC",IOS - 001,Full-time,All qualified candidates,All interested candidates,NaT,Indefinite,...,2015,12,False,Yerevan,Armenia,NaN,NaN,Not specified,Not specified,Open to all